body {
    font: bold 30px Verdana;
}
#display {
    color: white;
    margin: 50px auto;
    width: 400px;
    height: 100px;
    background-color: #E48743;
    cursor: pointer;
    text-align: center;
    line-height: 100px;
}
#display:hover {
    background-color: #7EB5D6;
}
.overlay {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
}
.inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 300px;
    margin-top: -150px;
    margin-left: -250px;
    background-color: #7EB5D6;
    text-align: center;
    z-index: 1;
    box-shadow: 0 2px 12px #333;
    -ms-box-shadow: 0 2px 12px #333;
    -moz-box-shadow: 0 2px 12px #333;
    -webkit-box-shadow: 0 2px 12px #333;
    border-radius: 8px;
    -ms-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border: 1px solid #666;
}
.transparency {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    zoom: 1;
    filter: alpha(opacity=60);
    opacity: 0.6;
}
.close {
    display: block;
    position: absolute;
    top: -8px;
    right: -8px;
    height: 0;
    width: 18px;
    padding: 18px 0 0 0;
    overflow: hidden;
    background: #000000 none;
    border: 2px solid #ffffff;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    box-shadow: 0 0 6px #000000, 1.6px 1.6px 1.6px rgba(0, 0, 0, 0.3), -1.6px 1.6px 1.6px rgba(0, 0, 0, 0.3), 1.6px -1.6px 1.6px rgba(0, 0, 0, 0.3), -1.6px -1.6px 1.6px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 0 6px #000000, 1.6px 1.6px 1.6px rgba(0, 0, 0, 0.3), -1.6px 1.6px 1.6px rgba(0, 0, 0, 0.3), 1.6px -1.6px 1.6px rgba(0, 0, 0, 0.3), -1.6px -1.6px 1.6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 6px #000000, 1.6px 1.6px 1.6px rgba(0, 0, 0, 0.3), -1.6px 1.6px 1.6px rgba(0, 0, 0, 0.3), 1.6px -1.6px 1.6px rgba(0, 0, 0, 0.3), -1.6px -1.6px 1.6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 6px #000000, 1.6px 1.6px 1.6px rgba(0, 0, 0, 0.3), -1.6px 1.6px 1.6px rgba(0, 0, 0, 0.3), 1.6px -1.6px 1.6px rgba(0, 0, 0, 0.3), -1.6px -1.6px 1.6px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.close:before {
    content: "\D7";
    display: block;
    text-align: center;
    width: 18px;
    position: absolute;
    top: -2px;
    left: 0;
    font-size: 18px;
    line-height: 18px;
    font-family: "Helvetica Neue", Consolas, Verdana, Tahoma, Calibri, Helvetica, Menlo, "Droid Sans", sans-serif;
}
